:root {
    --primary: #01FFF4;
    --secondary: ;
    --bg: #002B5B;
    --text-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    color: #fff;
    min-height: 400vh;
}

.hero-navbar {
    top: 0;
    display: flex;
    position: relative;
}

.hero-navbar img {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 37px;
    top: 10px;
}

.hero-navbar ul {
    position: relative;
    left: 350px;
    top: 64px;
    list-style: none;
    display: flex;
    justify-content: end;
}

.hero-navbar li {
    margin-left: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.hero-navbar li:hover{
    color: var(--primary);
    transition: 0.6s;
}
.hero-navbar li span{
    border-radius: 20px;
    padding: 30px;
    background-color: #151C24;
    border: 5px solid var(--primary);
    /* background-color: rgba(1, 255, 244,0.5); */
    color: var(--primary);
}
.hero-navbar .news-start {
    margin-left: 300px;
}

.hero-section {
    position: relative;
    width: 1519px;
    height: 658px;
    left: 0px;
    top: 0px;
    max-width: 100%;
    margin-bottom: 14rem;
}

.hero-section::before {
    content: "";
    background-image: url('image/heropicnew2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.hero-content {
    top: 221px;
    left: 134px;
    position: absolute;
}

.hero-content h1 {
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    color: var(--text-color);
}

.hero-content h1 span {
    font-weight: 900;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    color: var(--primary);
}

.hero-content h2 {
    font-weight: 500;
    font-size: 30px;
}

.hero-section .ourteam {
    left: 558px;
    top: 508px;
    position: absolute;
}

.about-section {
    height: 475px;
    position: relative;
}

.about-section::before {
    content: "";
    background-image: url('image/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -100px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.about-content {
    top: 868px;
    left: 129px;
    width: 1258px;
    height: 362px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 12rem;
}

.about-rotate {
    width: 100px;
    height: 362px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
    transform: rotate(270deg);
    margin: 0;
}

.about-rotate h1 {
    font-size: 56px;
    font-weight: 700;
    color: var(--text-color);
}

.about-best {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 362px;
}

.about-best h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--primary);
}

.about-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
}

.about-right p {
    font-size: 20px;
    padding: 50px;
}

.division-section {}

.division-container {
    height: 100%;
    margin: auto;
}

.division-title {
    margin-top: 4rem;
    color: #01FFF4;
    font-weight: 900;
    font-size: 70px;
    text-align: center;
}

.division-subtitle,
.news-title,
.highlight-title,
.shop-title,
.partners-title{
    margin: 2rem 0;
    font-size: 44px;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
}

.division-teams {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.division-teams .teams {
    border-radius: 50px;
    margin: 0 1rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-section {
    box-sizing: border-box;
    margin-top: 15rem;
    position: relative;
    height: 115vh;
}

.news-section::before {
    content: "";
    background-image: url(./image/bg-news.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.5;
}

.news-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 3rem;
    row-gap: 1rem;
    position: relative;
}

.news-container .news-card {
    position: relative;
    height: 300px;
    width: 30%;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
}

.news-container .news-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.news-header {
    display: flex;
    position: relative;
    /* background-color:rgba(21, 28, 36); */
    padding: 10px;
}

.news-game {
    background-color: var(--primary);
    width: 30%;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin-right: 4rem;
}

.news-game h2 {
    font-size: 12px;
    font-weight: 600;
}

.news-date {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    width: 50%;
}

.news-date h2 {
    font-size: 14px;
    font-weight: 700;
}

.news-card-title {
    margin-top: 3rem;
    height: 68%;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.news-card-title h3 {
    font-size: 18px;
    font-weight: 800;
    -webkit-text-stroke: 1px var(--bg);
}

.news-section .view-button,
.highlight-section .view-button,
.shop-section .view-button,
.news-hiring .view-button{
    position: relative;
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    border: 5px solid var(--primary);
    background-color: #151C24;
}

.news-section .news-button h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.highlight-section {
    margin-top: 5rem;

}

.highlight-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
}

.highlight-container .highlight-card {
    position: relative;
    height: 300px;
    width: 30%;
    margin-right: 0.5rem;
    margin-bottom: 3rem;
    background-color: #01FFF4;
}

.highlight-section .highlight-button {
    position: relative;
    padding: 100px;
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    border: 5px solid var(--primary);
    background-color: #151C24;
}

.highlight-container .highlight-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.highlight-container .highlight-card-desc {
    display: flex;
}

.highlight-container .highlight-card-desc {
    display: flex;
}

.shop-section {
    box-sizing: border-box;
    margin-top: 15rem;
    position: relative;
    height: 100vh;
}

.shop-section::before {
    content: "";
    background-image: url(./image/bg-shop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -50px;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.5;
}
.shop-section .shop-title-container,
.news-section .news-title-container,
.highlight-section .highlight-title-container,
.partners-content .partners-title-container{
    display: flex;
    margin: auto;
    justify-content: center;
}
.shop-section .shop-title-container img,
.news-section .news-title-container img,
.highlight-section .highlight-title-container img,
.partners-content .partners-title-container img{
    margin: auto;
    width: 500px;
    height: 10px;
}
.shop-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 3rem;
    row-gap: 1rem;
    position: relative;
}

.shop-container .shop-card {
    position: relative;
    height: 437px;
    width: 22.5%;
    margin: 2rem 1rem 1.5rem;
}

.shop-container .shop-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    width: 100%;
    height: 411px;
    left: 0;
    bottom: 0;
    background-color: rgba(37, 37, 37, 1);
}

.footer .footer-logo {
    width: 279px;
    height: 265px;
    margin-top: 3rem;
    margin: auto;
}

.footer h1 {
    top: 70px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 71px;
    color: #ffffff;
    margin: auto;
}

.footer-info {
    margin: auto;
    align-items: center;
    top: 0;
    display: flex;
}

.footer li {
    margin: auto;
    list-style: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 57px;
    margin-left: 6rem;
    color: #ffffff;
}

.footer span {
    color: aqua;
}

.footer-sosmed {
    margin: auto;
    margin-left: 10rem;
    width: 300px;
    height: 100px;
    line-height: 34px;
}

.footer-sosmed img {
    width: 70px;
    height: 70px;
    line-height: 37px;
}

.footer-sosmed h2 {
    position: absolute;
    font-size: 25px;
    font-weight: 800;
    margin: auto;
    text-decoration: underline;
    color: #ffffff;
    text-align: center;
}
.footer-copyright{
    position: absolute;
    right: 4rem;
    bottom: 0;
}
.footer-copyright h2{
    font-size: 20px;
    font-weight: 400;
}
