:root {
    --primary: #01FFF4;
    --secondary: ;
    --bg: #002B5B;
    --text-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg);
    color: #fff;
    min-height: 400vh;
}

.hero-navbar {
    width: 100%;
    padding: 2rem 7%;
    display: flex;
    position: relative;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
}

.hero-navbar .hero-navbar-logo {

    width: 100%;
}

.hero-navbar img {

    width: 100%;
    height: 120px;
}

.hero-navbar ul {
    column-gap: 3rem;
    width: 90%;
    justify-content: end;
    list-style: none;
    display: flex;
    align-items: center;
}

.hero-navbar li {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.hero-navbar li:hover {
    color: var(--primary);
    transition: 0.6s;
}

.hero-navbar .hero-navbar-shop {
    text-align: center;
    padding: 2rem 1rem;
    width: 25%;
    border-radius: 20px;
    background-color: #151C24;
    border: 5px solid var(--primary);
    /* background-color: rgba(1, 255, 244,0.5); */
    color: var(--primary);
}
.hero-navbar .hero-navbar-shop li{
    font-size: 1rem;
}

.hero-section {
    margin: auto;
    position: relative;
    height: 658px;
    width: 100%;
    left: 0px;
    top: 0px;
    margin-bottom: 14rem;
}

.hero-section::before {
    content: "";
    width: 100%;
    background-image: url('image/heropicnew2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.hero-content {
    padding: 2rem 8%;
    position: relative;
    width: 100%;
}

.hero-content h1 {
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    color: var(--text-color);
}

.hero-content h1 span {
    font-weight: 900;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    color: var(--primary);
}

.hero-content h2 {
    font-weight: 500;
    font-size: 1.9rem;
}

.hero-content a {
    margin: auto;
}

.about-section {
    width: 100%;
    height: 100%;
    position: relative;
}

.about-section::before {
    content: "";
    width: 100%;
    background-image: url('image/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin: auto;
    top: -100px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.about-content {
    padding: 2rem 10%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.about-rotate {
    width: 20%;
    height: 362px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
    transform: rotate(270deg);
    margin: 0;
}

.about-rotate h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--text-color);
}

.about-best {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 362px;
}

.about-best h1 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--primary);
}

.about-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 50%;
}

.about-right p {
    font-size: 1.2rem;
    padding: 50px;
}

.division-section {
    width: 100%;
    position: relative;
}

.division-container {
    width: 100%;
    height: 100%;
    margin: auto;
}

.division-title {
    margin-top: 4rem;
    color: #01FFF4;
    font-weight: 900;
    font-size: 4.3rem;
    text-align: center;
}

.division-subtitle,
.news-title,
.highlight-title,
.shop-title,
.partners-title {
    margin: 2rem 0;
    font-size: 2.7rem;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
}

.division-teams {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.division-teams .teams {
    border-radius: 50px;
    margin: 0 1rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.division-teams .teams img{
    width: 100%;
}

.news-section {
    box-sizing: border-box;
    margin-top: 15rem;
    position: relative;
    height: 100%;
    width: 100%;
}

.news-section::before {
    content: "";
    width: 100%;
    background-image: url(./image/bg-news.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.5;
}

.news-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 10%;
    row-gap: 5rem;
    position: relative;
}

.news-container .news-card {
    position: relative;
    width: 30%;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
}

.news-container .news-card img {
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.news-header {
    display: flex;
    position: relative;
    /* background-color:rgba(21, 28, 36); */
    padding: 10px;
}

.news-game {
    background-color: var(--primary);
    width: 30%;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin-right: 4rem;
}

.news-game h2 {
    font-size: 0.7rem;
    font-weight: 600;
}

.news-date {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    width: 50%;
}

.news-date h2 {
    font-size: 0.8;
    font-weight: 700;
}

.news-card-title {
    margin-top: 3rem;
    height: 68%;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.news-card-title h3 {
    font-size: 1.1rem;
    font-weight: 800;
    -webkit-text-stroke: 0.5px var(--bg);
}

.news-section .view-button,
.highlight-section .view-button,
.shop-section .view-button,
.news-hiring .view-button {
    font-size: 1rem;
    position: relative;
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    border: 5px solid var(--primary);
    background-color: #151C24;
}

.news-section .news-button h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.highlight-section {
    margin-top: 5rem;
    width: 100%;
    position: relative;
}

.highlight-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10%;
}

.highlight-section .highlight-container .highlight-card {
    position: relative;
    height: 100%;
    width: 30%;
    margin-right: 2rem;
    margin-bottom: 3rem;
    background-color: #01FFF4;
}

.highlight-container .highlight-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    image-rendering: optimizeSpeed;
    position: relative;
}

.highlight-container .highlight-card-desc {
    width: 100%;
    display: flex;
}

.highlight-container .highlight-card-desc .highlight-card-desc-end {
    right: 0;
    position: absolute;
}

.shop-section {
    box-sizing: border-box;
    margin-top: 15rem;
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 5rem;
}

.shop-section::before {
    height: 100%;
    content: "";
    width: 100%;
    background-image: url(./image/bg-shop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -50px;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.5;
}

.shop-section .shop-title-container,
.news-section .news-title-container,
.highlight-section .highlight-title-container,
.partners-content .partners-title-container {
    display: flex;
    margin: auto;
    justify-content: center;
    position: relative;
    width: 100%;
}

.shop-section .shop-title-container img,
.news-section .news-title-container img,
.highlight-section .highlight-title-container img,
.partners-content .partners-title-container img {
    margin: auto;
    width: 25%;
    height: 10px;
    position: relative;
}

.shop-container {

    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 7%;
    column-gap: 2rem;
    position: relative;
    margin-bottom: 5rem;
}

.shop-container .shop-card {
    position: relative;
    height: 437px;
    width: 30%;
    padding: 2rem 0
}

.shop-container .shop-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 411px;
    left: 0;
    bottom: 0;
    background-color: rgba(37, 37, 37, 1);
}

.footer .footer-logo {
    width: 20%;
    height: 265px;
    margin-top: 3rem;
    margin: auto;
}

.footer .footer-info h1 {
    top: 70px;
    width: 75%;
    font-style: normal;
    font-weight: 900;
    font-size: 3.5rem;
    color: #ffffff;
}

.footer-info {
    width: 60%;
    margin: auto;
    align-items: center;
    top: 0;
    display: flex;

}

.footer .footer-info li {
    list-style: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 57px;
    color: #ffffff;
}

.footer span {
    color: aqua;
}

.footer-sosmed {
    margin: auto;
    width: 20%;
    height: 100px;
}

.footer-sosmed img {
    width: 25%;
    height: 70px;
    line-height: 37px;
}

.footer-sosmed a {
    font-size: 0.5rem;
    font-weight: 800;
    text-decoration: underline;
    color: #ffffff;
}


.footer-copyright {
    width: 100%;
    display: flex;
    justify-content: end;
    position: absolute;
    right: 2.5rem;
    bottom: 0;
}

.footer-copyright h2 {
    font-size: 1.2rem;
    font-weight: 400;
}


/* Large screens */
@media (max-width: 1200px) {
    * {
        font-size: 80%;
    }

    /* Add more specific styles for large screens here */
}


/* Small screens */
@media (max-width: 768px) {
    * {
        font-size: 65%;
        
    }

    /* Add more specific styles for small screens here */
}

/* Extra small screens */
@media (max-width: 576px) {
    * {
        font-size: 62.5%;
    }

    /* Add more specific styles for extra small screens here */
}
